.inner-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // padding: 80px;
    z-index: 0;
    align-items: center;
    justify-content: center;
    // background: transparent;
    // object-fit: contain; 
    // -webkit-backface-visibility: hidden; 
    // -ms-transform: translateZ(0); /* IE 9 */
    // -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    // transform: translateZ(0);
    // -webkit-perspective: 1000;
    transform-origin: 0 0;
    // padding-top: 250px;

    svg {
        // -webkit-backface-visibility: hidden; 
        // -ms-transform: translateZ(0); /* IE 9 */
        // -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
        // transform: translateZ(0);
        // -webkit-perspective: 1000;
        transform: scale(5);

        foreignObject {
            opacity: 0;
            animation: fadeIn 0.2s linear forwards;
        }
    }

   
}

@for $i from 1 through 200 {
    foreignObject{
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.03s;
      }
    }
  }


.word-container {
    // position: relative;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // transform-origin: 0 0;
    // align-items: center;
    // justify-content: center;
    height: 100%;
    transform: scale(0.3);
}