.app {
	display: block;
	position: relative;
}

.main-settings {
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 20px;
}

.main-section {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}